<div class="login">
  <h1>Login</h1>
  <span>username: </span> {{input type="text" value=username}}<br><br>
  <span>password: </span> {{input type="text" value=password}}
</div>
<br>
<button id="login" {{action "login" username password}}>
    login
</button>
